<mat-table [dataSource]="movies" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Studio">
      <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Studio}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Weekend_income">
      <mat-header-cell *matHeaderCellDef> Weekend income </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Weekend_income}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
        <button (click) = "delete(element)">Delete Movie</button> 
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>


  

  <mat-form-field>
      <mat-select placeholder="Select a Studio" [(value)]="studio">
        <mat-option *ngFor="let s of studios" [value]="s">
          {{s}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button (click) = "filter()">Filter Movies</button>
    </div>

  
  <!-- <input [(ngModel)] = "studio" type = "text">
  <button (click) = "filter()">Filter Movies</button> -->