<mat-grid-list cols = "5" rows = "1" hidden=true>
  <mat-grid-tile>
      {{id}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{title}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{Studio}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{Weekend_income}}
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click) = "removeMovie()">
        Remove
      </button>
    </mat-grid-tile>
  </mat-grid-list>
    